.device,
.device::before,
.device::after,
.device *,
.device *::before,
.device *::after {
	box-sizing: border-box;
	display: block;
}
.device {
	position: relative;
	margin: 30px auto;
}
.device .device-frame {
	z-index: 1;
}
.device-iphone-x {
	height: 694px;
	width: 342px;
}
.device-iphone-x .device-frame {
	background: #222;
	border-radius: 54px;
	box-shadow: inset 0 0 0 2px #606467, inset 0 0 0 6px #e2e3e4;
	height: 694px;
	padding: 22px;
	width: 342px;
}
.device-iphone-x .device-content {
	background-color: #90bff5;
/* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='24' viewBox='0 0 88 24'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='autumn' fill='%239fac92' fill-opacity='0.49'%3E%3Cpath d='M10 0l30 15 2 1V2.18A10 10 0 0 0 41.76 0H39.7a8 8 0 0 1 .3 2.18v10.58L14.47 0H10zm31.76 24a10 10 0 0 0-5.29-6.76L4 1 2 0v13.82a10 10 0 0 0 5.53 8.94L10 24h4.47l-6.05-3.02A8 8 0 0 1 4 13.82V3.24l31.58 15.78A8 8 0 0 1 39.7 24h2.06zM78 24l2.47-1.24A10 10 0 0 0 86 13.82V0l-2 1-32.47 16.24A10 10 0 0 0 46.24 24h2.06a8 8 0 0 1 4.12-4.98L84 3.24v10.58a8 8 0 0 1-4.42 7.16L73.53 24H78zm0-24L48 15l-2 1V2.18A10 10 0 0 1 46.24 0h2.06a8 8 0 0 0-.3 2.18v10.58L73.53 0H78z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");	 */
	background-position: center center;
	background-size: cover;
	border-radius: 32px;
	height: 650px;
	position: relative;
	width: 300px;
}
.device-iphone-x .device-stripe::after,
.device-iphone-x .device-stripe::before {
	border: solid rgba(51, 51, 51, .25);
	border-width: 0 6px;
	content: "";
	height: 5px;
	left: 0;
	position: absolute;
	width: 100%;
	z-index: 9;
}
.device-iphone-x .device-stripe::after {
	top: 68px;
}
.device-iphone-x .device-stripe::before {
	bottom: 68px;
}
.device-iphone-x .device-header {
	background: #222;
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
	height: 24px;
	left: 50%;
	margin-left: -82px;
	position: absolute;
	top: 22px;
	width: 164px;
	z-index: 199;
}
.device-iphone-x .device-header::after,
.device-iphone-x .device-header::before {
	content: "";
	height: 6px;
	position: absolute;
	top: 0;
	width: 6px;
}
.device-iphone-x .device-header::after {
	background: radial-gradient(circle at bottom left, transparent 0, transparent 75%, #222 75%, #222 100%);
	left: -6px;
}
.device-iphone-x .device-header::before {
	background: radial-gradient(circle at bottom right, transparent 0, transparent 75%, #222 75%, #222 100%);
	right: -6px;
}
.device-iphone-x .device-sensors::after,
.device-iphone-x .device-sensors::before {
	content: "";
	position: absolute;
}
.device-iphone-x .device-sensors::after {
	background: #444;
	border-radius: 2.5px;
	height: 5px;
	left: 50%;
	margin-left: -20px;
	top: 4px;
	width: 40px;
}
.device-iphone-x .device-sensors::before {
	background: #444;
	border-radius: 50%;
	height: 11px;
	left: 50%;
	margin-left: 30px;
	top: 1px;
	width: 11px;
}
.device-iphone-x .device-btns {
	background: #606467;
	height: 26px;
	left: -2px;
	position: absolute;
	top: 92px;
	width: 3px;
}
.device-iphone-x .device-btns::after,
.device-iphone-x .device-btns::before {
	background: #606467;
	content: "";
	height: 50px;
	left: 0;
	position: absolute;
	width: 3px;
}
.device-iphone-x .device-btns::after {
	top: 48px;
}
.device-iphone-x .device-btns::before {
	top: 112px;
}
.device-iphone-x .device-power {
	background: #606467;
	height: 80px;
	position: absolute;
	right: -2px;
	top: 160px;
	width: 3px;
}
.main {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 0.35em;
  }
  .article img {
	
		width: 100%;
		height: 100%;
		object-fit: cover;
		
  }

  .article P {
	font-family: 'Pompadur';
	/* display: block; */
    font-size: 1.7rem;
	font-weight: bold;
    text-align: center;
    color: var(--colorText);
    background-color: var(--tributeAfterBefore);
    border-radius: 0.5em;
	border: 3px solid rgb(83, 3, 7);
    /* text-shadow: var(--textShadow); */
    /* box-shadow: var(--boxShadow); */
	padding: 0.5rem;
    margin-top: 1em;
    margin-bottom: 0.5em;
	margin-left: 0.25em;
	margin-right: 0.25em;
  }
  
  .navLink {
	position: absolute;
	padding: 0.1em 2em 0.2em 2em;
	/* margin-right: 1em; */
	box-sizing: border-box;
	top: 92%;
    left: 29%;
	border: 2px solid rgb(83, 3, 7);
	border-radius: 1em;
	text-decoration: none;
	color: var(--colorText);
	background-color: #8b302f;
  }
  .textarea {
	color: var(--colorText);
	font-size: 1.5em;
	text-align: center;
	background-color: var(--tributeAfterBefore);
	border: 3px solid rgb(83, 3, 7);
	border-radius: 0.4em;
	box-shadow: #437baf;
	margin: 0.25em;
	padding: 0.25em;
  }